@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* scroll bar */
/* width */
::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  @apply w-2 h-2 md:w-2 md:h-2
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #88888846; */
  border-radius: 5px;
  @apply bg-slate-500 opacity-60 cursor-pointer scroll-smooth
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b42222; */
  @apply bg-slate-600
}



:root {
  @apply scroll-smooth !font-["Kodchasan"] font-["sans-serif"]
}